<div class="main-window">
    <header class="header">
        <h1 class="main-title">Slot Machine</h1>
        <h2 clas="sub-title">{{title}}</h2>
        <p class="moto">BET EVERYTHING AND LOSE IT ALL</p>
    </header>

    <h3 class="how-to-play">How to play:</h3>
    <p>SPACE to roll, ENTER to give my money bitch, Gamble: leftArrow = red, rightArrow = black</p>
    <p>You can set your own bet by changing the "bet" label. WARNING: don't use float numbers</p>
    <p>Enjoy!</p>
    <machine-component></machine-component>
</div>
